<header>
    <nav class="navbar">
        <div class="logo">
            <img class="logo-img" src="./assets/navbar.png" alt="Playful Horizons Logo">
        </div>
        <ul>
            <li><a href="../Frontend/index.html">Home</a></li>
            <li><a href="#about">About Us</a></li>
            <li><a href="#services">Rooms</a></li>
            <li><a href="#gallery">Programs</a></li>
            <li><a href="">Admissions</a></li>
        </ul>
    </nav>  
</header>
    <script src="./assets/navbar.js"></script>